.button{
    cursor: pointer;
    height: 70px;
    margin: 7px;
    width: 220px;
    text-align: center;
    background-color: #535A6E;
    border: 2px solid #89AADA;
    border-radius: 10px;
    line-height: 0px;
    padding: 0;
    transition: all ease-in-out .2s;
}
.button:hover{
    background-color: #313B4A;
    margin-left: 30px;
    margin-right: -30px;
    border-top-right-radius: 40px;
}

p { 
color: #89AADA; 
font-family: 'Muli', sans-serif; 
font-size: 20px;
font-weight: 550;
}