.modal, .modalInvisible {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalInvisible {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modalContent {
    width: 500px;
    border-radius: 0.4rem;
    background: linear-gradient(192.04deg, #181818 19.27%, #1C1C1C 65.1%, #3A3A3A 100%);
    color: #19AA00;
}

.modalHeader,
.modalFooter {
    padding: 10px;
}

.modalTitle {
    margin: 0;
    color: #00E0FF;
}

.modalBody {
    padding: 10px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
