.mainCont {
    max-width: 600px;
}

.title {
    display: flex;
    justify-content: center;
}

.buttonsCont{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.buttonsCont > Button{
    margin: 0 0.1em;
}

.labeledComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6em;
}

.label {
    width: 60%;
}

.content {
    width: 30%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .buttonsCont{
        display: flex;
        flex-direction: column-reverse;
    }

    .buttonsCont > Button{
        margin: 0.1em 0;
    }
}