.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.pageContent{
    display: flex;
    justify-content: center;
    position: relative;
}

/* .pageContent>*:first-child{
    align-self: flex-start;
} */