.outer{
    margin: 50px 0px;
    border: 2px solid #5071a1;
    border-radius: 10%;
    box-shadow: 1px 1px 10px black;
    background-color: #7b95bb;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.name{
    color: black;
    font-size: 24px;
    border-bottom: 2px solid black;
}

.description{
    font-size: 16px;
    color: rgb(43, 45, 59);
}