.menuButton {
  font-weight: bold;
  background: rgb(30, 71, 40);
  background: linear-gradient(
    17deg,
    rgb(42, 100, 56) 0%,
    rgb(19, 11, 61) 17%,
    rgb(27, 11, 61) 77%,
    rgba(29, 99, 91, 1) 100%
  );
  margin: 0 1em 2em 1em;
  border-radius: 0.4em;
  border: 0.1em solid darkgray;
  box-shadow: 0.2em 0.4em 0.8em rgb(0, 88, 129),
    -0.2em -0.4em 0.8em rgb(0, 129, 123);
  padding: 1em;
  text-align: center;
  transition: all 0.2s;
}

.menuButton:hover {
  margin-right: 30%;
  border-top-right-radius: 20px;
  border-color: rgb(70, 20, 248);
  filter: brightness(120%);
}
