.mainCont {
    /* width: 50vw; */
}

.title {
    display: flex;
    justify-content: center;
}

.buttonsCont{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.labeledComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    width: 60%;
}

.content {
    width: 30%;
    display: flex;
    justify-content: right;
}

.parameterContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.deviceCode {
    width: 15vw;
}

.parameterDataContainer {
    width: 75%;
    padding: 0.2rem 0;
}

.parameterID {
    width: 3vw;
}

.parameterKey, .parameterValue {
    width: 10vw;
}

.parameterType {
    float: right;
    width: 10vw;
}

.deviceDescription {
    margin: 0.1rem 0.4rem;
    padding: 0.15rem;
}